<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SMS_PRO_SERVERURL" value="http://gw.api.taobao.com/router/rest" />
    <add key="SMS_AppKey" value="23274384" />
    <add key="SMS_AppSecret" value="9cddf0e0c922065933e6a5acc1c7a68e" />
    <add key="SMS_ProductName" value="小牛到家" />
  </appSettings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="housekeepingEntities" connectionString="metadata=res://*/ServiceHomeDB.ServiceHomeDB.csdl|res://*/ServiceHomeDB.ServiceHomeDB.ssdl|res://*/ServiceHomeDB.ServiceHomeDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=housekeeping;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>